<footer class="site-footer bg-lighten-2 gray">
  <div class="px2 py3">
    <div class="clearfix mxn2">
      <div class="col sm-col-12 md-col-6">
        <ul class="list-reset">
          <li>
            <h3 class="h4 m0">
              <a href="#" class="btn block">Info</a>
            </h3>
          </li>
          <li><span class="h5 btn block">{{site.email}}</span></li>
          <li><a href="https://github.com/namjul" class="h5 btn block">Github</a></li>
          <li><a href="https://bitbucket.org/namart/" class="h5 btn block">Bitbucket</a></li>
        </ul>
      </div>
      <div class="col sm-col-12 md-col-6">
        <h3 class="h4 m0">
          <a href="#" class="btn block">About</a>
        </h3>
        <p class="px2 ">{{site.description}}</p>
      </div>
    </div>
    <p class="h6 mb0 right">&copy; 2015 Samuel Hobl</p>
  </div>
</footer>
