<footer class="site-footer bg-lighten-2 gray">
  <div class="px2 py3 container">
    <div class="clearfix mxn2">
      <div class="col sm-col-12 md-col-6">
        <ul class="list-reset">
          <li>
            <h3 class="h4 m0">
              <a href="#" class="btn block">Info</a>
            </h3>
          </li>
          <li><span class="h5 btn block">cpenhard (at) yahoo (dot) fr</span></li>
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" class="h5 btn block">Subscribe to RSS</a></li>
        </ul>
      </div>
      <div class="col sm-col-12 md-col-6">
        <ul class="list-reset">
          <li>
            <h3 class="h4 m0">
              <a href="#" class="btn block">About</a>
            </h3>
          </li>
          <li>
            <p class="px2 ">
              Write an awesome description for your new site here.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <p class="h6 mb0">&copy; 2015 Christophe Penhard</p>
  </div>
</footer>
